<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="seccionesSoporte.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
            <!-- Sección Credenciales -->
            <section id="credenciales"  >
                <div class="container">
                            <!-- Registrar credenciales -->


                            <div class="table-container">
                                <h1 class="titulo"> <i class="fa fa-address-book" style="font-size:20px;margin-right: 10px;"></i> Registro de Credenciales</h1>
                                <hr style="border: 1px solid #f4f4f4;">

                                <div class="search-container">
                                    <div class="filtro">
                                        <form action="insertar_usuario.php" method="POST" >
                                           
                                                <label for="numero_documento">N° Documento:</label>
                                                <input type="text" id="numero_documento" name="numero_documento" required placeholder="Número de documento">
                                          
                                                <label for="usuario">Usuario:</label>
                                                <input type="text" id="usuario" name="usuario" required placeholder="Código de Estudiante">

                                                <label for="contrasena">Contraseña:</label>
                                                <input type="password" id="contrasena" name="contrasena" required placeholder="Ingresa la contraseña">
                                            <button class="btnInsertarCred">
                                                <i class="fa fa-cloud-upload" style="color:white;margin-right: 10px;"></i>Insertar Credencial
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>    

                            <div class="table-container">
                                <h1 class="titulo"> <i class="fa fa-address-book" style="font-size:20px;margin-right: 10px;"></i> Filtrar Credenciales</h1>
                                <hr style="border: 1px solid #f4f4f4;">
                                <div class="search-container">
                                    <div class="filtro">
                                        <label for="filtro4">Filtrar por:</label>
                                        <select id="filtro4" name="filtro4">
                                            <option value="SELECCIONE">SELECCIONE</option>
                                            <option value="numero_documento">N° Documento</option>
                                        </select>
                                        <input type="text" id="valor-busqueda4" placeholder="Buscar...">
                                        <button class="buscar" id="buscar4"> <i class='fa fa-search'></i> Buscar</button>
                                    </div>
                                </div>
                                <table class="custom-table" id="credencialesTabla">
                                    <thead>
                                        <tr>
                                            <th>ID Credencial</th>
                                            <th>N° Documento</th>
                                            <th>Usuario</th>
                                            <th>Contraseña</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Aquí irían más filas generadas dinámicamente -->
                                    </tbody>
                                </table>
                            </div>

                     


    
                             


                </div>
            </section>

</body>
</html>