<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sección B</title>
    <link rel="stylesheet" href="seccionesSoporte.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
     
    </script>
</head>
<body>
 
    <!-- Sección Solicitud -->
    <section id="solicitud" >
        <div class="container">
            <div class="admin-container">                    
                <div class="table-container">
                    <h1 class="titulo"><i class="fa fa-file-text" style="font-size:20px;margin-right: 10px;"></i> Revisión de Solicitudes</h1>
                    <hr style="border: 1px solid #f4f4f4;">
       <table class="custom-table">
                                    <thead>
                                        <tr>
                                            <th>ID Solicitud</th>
                                            <th>Apoderado</th>
                                            <th>Alumno</th>
                                            <th>N° Documento</th>
                                            <th>Nivel</th> <!-- Nueva columna para Nivel -->
                                            <th>Grado</th> <!-- Nueva columna para Grado -->
                                            <th>Tipo de Solicitud</th>
                                            <th>Fecha</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                   
                                    <tr th:each="al : ${al}">
                                <td th:text=   "${al.id_matricula}"></td>
                                     <td th:text="${al.apoderado.nombres }"></td>
                                        <td th:text="${al.alumno.nombres}"></td>
                                           <td th:text="${al.alumno.numero_documento}"></td>
                                      <td th:text=   "${al.sede}"></td>
                                       <td th:text=   "${al.nivel}"></td>
                                        <td th:text=   "${al.grado}"></td>
                                        <td th:text=   "${al.año_matricula}"></td>
                                        <td th:text=   "${al.estado}"></td>
                                    
                                    <td>
                                      <button class="buscar" id="buscar5"><i class="fa-solid fa-trash"></i> Eliminar</button>
                                     <a th:href="@{/administrador/export(clave=${clave})}" download="matri.xlsx" class="buscar" id="buscar5">
    <i class='fa fa-search'></i> Excel
</a>
                                     
                                    </td>
                                    </tr>
                                    </tbody>
                                </table>
                </div>

             <div class="table-container">
    <h1 class="titulo">
        <i class="fa fa-file-text" style="font-size:20px;margin-right: 10px;"></i> Filtrar Solicitudes
    </h1>
    <hr style="border: 1px solid #f4f4f4;">
    <div class="search-container">
        <div class="filtro">
            <label for="filtro">Filtrar por:</label>
            <select id="filtro" name="filtro" required>
                <option value="">SELECCIONE</option>
                <option value="numero_documento">N° Documento</option>
                <option value="nivel">Nivel</option>
                <option value="grado">Grado</option>
                <option value="estado">Estado</option>
            </select>
            <form class="form-inline" th:action="@{/SecSolicitudSOPORTE}" method="get">
                <input type="text" id="valor-busqueda" name="clave" placeholder="Buscar..." >
                <button class="buscar" id="buscar" type="submit"> 
                    <i class='fa fa-search'></i> Buscar
                </button>
                <div class="contador" id="contadorResultados"></div>
                <button class="descargar" id="descargarPDF">
                    <i class="fa fa-cloud-download"></i> Descargar PDF
                </button>
            </form>
        </div>
    </div>
    <table class="custom-table" id="solicitudesTabla">
        <thead>
            <tr>
                <th>ID Solicitud</th>
                <th>Apoderado</th>
                <th>Alumno</th>
                <th>N° Documento</th>
                <th>Nivel</th>
                <th>Grado</th>
                <th>Tipo de Solicitud</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="al : ${al}">
                <td th:text="${al.id_matricula}"></td>
                <td th:text="${al.apoderado.nombres}"></td>
                <td th:text="${al.alumno.nombres}"></td>
                <td th:text="${al.alumno.numero_documento}"></td>
                <td th:text="${al.sede}"></td>
                <td th:text="${al.nivel}"></td>
                <td th:text="${al.grado}"></td>
                <td th:text="${al.año_matricula}"></td>
                <td th:text="${al.estado}"></td>
                <td>
                    <button class="buscar" id="buscar5">
                        <i class="fa-solid fa-trash"></i> Eliminar
                    </button>
                    <a th:href="@{/administrador/export(clave=${al.id_matricula})}" download="matri.xlsx" class="buscar">
                        Exportar
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
             

                <div class="table-container">
                    <h1 class="titulo"><i class="fa fa-file-text" style="font-size:20px;margin-right: 10px;"></i> Filtrar Solicitudes por Estado, Nivel y Grado</h1>
                    <hr style="border: 1px solid #f4f4f4;">
                    <div class="search-container">
                        <div class="filtro">
                            <label for="estado5">Estado:</label>
                            <select id="estado5" name="estado">
                                <option value="SELECCIONE">SELECCIONE</option>
                                <option value="Pendiente">Pendiente</option>
                                <option value="Aprobada">Aprobada</option>
                                <option value="Rechazada">Rechazada</option>
                            </select>

                            <label for="nivel5">Nivel:</label>
                            <select id="nivel5" name="nivel">
                                <option value="SELECCIONE">Seleccionar Nivel</option>
                                <option value="Inicial">Inicial</option>
                                <option value="Primaria">Primaria</option>
                                <option value="Secundaria">Secundaria</option>
                            </select>

                            <label for="grado5">Grado:</label>
                            <select id="grado5" name="grado">
                                <option value="SELECCIONE">Seleccionar Grado</option>
                                <option value="1ro">1ro</option>
                                <option value="2do">2do</option>
                                <option value="3ro">3ro</option>
                                <option value="4to">4to</option>
                                <option value="5to">5to</option>
                                <option value="6to">6to</option>
                            </select>

                            <button class="buscar" id="buscar5" ><i class='fa fa-search'></i> Buscar</button>
                            <div class="contador" id="contadorResultados5"></div>
                            <button class="descargar" id="descargarPDF5"> <i class="fa fa-cloud-download"></i>  Descargar PDF</button>
                        </div>
                    </div>
                    
                    <table class="custom-table" id="solicitudesTabla5">
                        <thead>
                            <tr>
                                <th>ID Solicitud</th>
                                <th>Apoderado</th>
                                <th>Alumno</th>
                                <th>N° Documento</th>
                                <th>Nivel</th>
                                <th>Grado</th>
                                <th>Tipo de Solicitud</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Resultados de la base de datos -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
